.a{
	margin-top: 20px;
	font-size: 35px;
	padding-left: 20px;
	color: #11795794;
}
.a span{
	font-size: 40px;
	color: black;
	font-varient: bold;
	padding-left: 20px;
}
.b{
	margin-top: -25px;
	padding-left: 20px;
	font-size: 13px;
}
.c{		padding-left:20px;
		text-decoration-line: none;
		font-weight: bold;
		font-size: 20x;
		
}